.container {
  display: grid; /* Módosítva */
  justify-content: center; /* Módosítva */
  width: 100%;
}
  
.card {
    width: 365px; /* A kártyák szélességének beállítása, hogy két kártya elférjen egymás mellett, figyelembe véve a térközt */
    height: 500px;
    margin: 2.5em auto; /* Hozzáadtam egy alsó margót a kártyákhoz, hogy legyen térközük egymás alatt */    
}




