.container {
  display: grid; /* Módosítva */
  justify-content: center; /* Módosítva */
  width: 100%;
}
  
.card {
    width: 365px; /* A kártyák szélességének beállítása, hogy két kártya elférjen egymás mellett, figyelembe véve a térközt */
    height: 500px;
    margin: 2.5em auto; /* Hozzáadtam egy alsó margót a kártyákhoz, hogy legyen térközük egymás alatt */
    border: 5px solid #d1c76d; /* Keret hozzáadása */
    border-radius: 20px; /* Kerekített sarkok hozzáadása */
    overflow: hidden; /* Kilógó részek eltüntetése */
    box-shadow: 12px 12px 0 rgba(168, 156, 114, 0.4);/* Kártya árnyékolása */
    background-color: #F1F5A8; /* Háttérszín beállítása */
    transition: transform 0.4s ease-in-out; /* Átmenet beállítása */ 
    
}
.card:hover {
  transform: scale(1.1); /* Nagyítás beállítása */
}


.card-img-top {
    width: 100%; /* A kép szélességének beállítása */
    height: 340px; /* A kép magasságának beállítása */
    object-fit: cover; /* A kép méretezésének beállítása */
    object-position: center; /* A kép középre igazítása */
    border-radius: 20px; /* Kép lekerekítése */
  }

.card-body {
    text-align: center; /* Szöveg középre igazítása */
  }

.card-title {
    margin-top: 20px; /* Felső margó hozzáadása */
  }

