.contact-page {
    text-align: center;
}
  
.map-card {
    margin: auto;
    width: 60%;
    border: 5px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 12px 12px 0 rgba(0,0,0,0.4);
}

.contact-info {
    list-style-type: none;
}